.main {
	    -webkit-column-count : 3;
	    /*-webkit-column-gap : 10px;*/
	    -moz-column-count : 3;
	    /*-moz-column-gap : 10px;*/
}

ul.twitbox {
			width: 400px;
			list-style: none;
			margin: 0;
			padding: 0;
		}
ul.twitbox li{
	border-bottom:1px dashed #D2DADA;
	padding: 5px;
	font-size: 16px;
	font-family: 'Lucida Grande',sans-serif;
	color: #333333;
}
ul.twitbox li.mytwitHead {
	height: 50px;
}
ul.twitbox li.mytwitHead a {
	font-size: 20px;
	font-weight: bold;
}
ul.twitbox li.mytwitHead img{
	float: left;
	padding-right: 10px;
}
ul.twitbox li a {
	color: #0084B4;
	text-decoration: none;
}
ul.twitbox li a:hover { text-decoration: underline; }
ul.twitbox span.twhen {
	color: #999999;
	font-family: georgia;
	font-size: 14px;
	font-style: italic;
	padding-top: 5px;
}

