/* CSS RESET */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { vertical-align: baseline; font-family: inherit; font-weight: inherit; font-style: inherit; font-size: 100%; outline: 0; padding: 0; margin: 0; border: 0; text-decoration: none; }
:focus { outline: 0; }
body { background: white; line-height: 1; color: black; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Variables */
$main-color: #27c8fd;
$second-color: #0084B4;
$text-color: #333333;
$border-color: #D2DADA;
$white: #ffffff;

/* Mixins */
@mixin rounded { -moz-border-radius: 8px; -webkit-border-radius: 8px; -khtml-border-radius: 8px; border-radius: 8px; }
@mixin shadow { -moz-box-shadow: 3px 3px 5px 4px #aaa; -webkit-box-shadow: 3px 3px 5px 4px #aaa; box-shadow: 3px 3px 5px 4px #aaa; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#aaaaaa')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#aaaaaa'); }
@mixin light-shadow { -moz-box-shadow: 1px 1px 3px 2px #aaa; -webkit-box-shadow: 1px 1px 3px 2px #aaa; box-shadow: 1px 1px 3px 2px #aaa; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=90, Color='#aaaaaa')"; filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#aaaaaa'); }
@mixin panel ($float, $width) { @include rounded; @include shadow; float: $float; width: $width; border: 5px solid $main-color; }
@mixin default-bg { background-color: $main-color; color: $white; }

/* Patterns */
h1 { font-size: 2.4em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
input[type=text] { @include rounded; padding: 3px 3px 3px 10px; border: 1px solid #003; min-width: 300px; }
textarea { @include rounded; resize: none; padding: 5px; border: 1px solid #003; }
a { color: $main-color; font-weight: bold; }
input[type=button], input[type=submit] { @include rounded; @include light-shadow; @include default-bg; border: 1px solid $second-color; padding: 3px 10px 3px 10px; min-width: 100px; font-size: 1.2em; font-weight: bold; cursor: pointer; }

/* Layout */
html, body { height: 100%; font-family: 'Fredoka One', cursive; }
#wrapper { height: auto; min-height: 100%; background-color: $white; margin-bottom: 10px; }
#header { @include default-bg; @include shadow; padding: 15px 3% 15px 3%; }
#body { padding: 15px 1.5% 15px 1.5%; color: $main-color; padding-bottom: 40px; }
#footer { @include default-bg; @include shadow; height: 30px; padding: 5px; margin-top: -40px; text-align: center; clear: both; }
#footer a { color: $white; text-decoration: underline; }

.search { font-size: 1.2em; font-weight: bold; }
#left-panel { @include panel(left, 66%); }
#right-panel { @include panel(left, 00%); margin-left: 2%; }
#search-panel { @include panel(left, 66%); }
#advertisements { @include panel(left, 26%); background-color: $main-color; color: $white; margin-left: 2%; }

.clear { height: 0px; clear: both; }

.pnl-header { @include default-bg; padding-bottom: 5px; text-align: center; }
.button { background-color: $white !important; color: $second-color !important; }

.twitbox { list-style: none; padding: 15px; font-family: 'Verdana'; }
.twitbox li { color: $text-color; padding: 10px; }
.twit { border-bottom: 1px dashed $second-color; margin-top: 5px; }
.twit > img { width: 50px; height: 50px; float: left; }
.twit a { font-size: 20px; font-weight: bold; color: $second-color; }
.content { padding-left: 10px; }
.twitbox li a:hover { text-decoration: underline; }
.twhen { float: right; right: 0px; bottom: 0px; color: #999999; font-family: georgia; font-size: 14px; font-style: italic; }