/* CSS RESET */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { vertical-align: baseline; font-family: inherit; font-weight: inherit; font-style: inherit; font-size: 100%; outline: 0; padding: 0; margin: 0; border: 0; text-decoration: none; }
:focus { outline: 0; }
body { background: white; line-height: 1; color: black; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

@font-face {
	font-family: "ChunkFive";
	src: url("/fonts/Chunkfive.otf")
	format("opentype");
}

@font-face {
	font-family: "Enriqueta-Regular";
	src: url("/fonts/Enriqueta-Regular.otf")
	format("opentype");
}

@font-face {
	font-family: "Enriqueta-Bold";
	src: url("/fonts/Enriqueta-Bold.otf")
	format("opentype");
}

@font-face {
	font-family: "TK4F";
	src: url("/fonts/TkachenkoSketch4F.ttf")
	format("truetype");
}

#wrap {
	margin: 0 auto;
	width: 960px;
	padding: 0;
}

.group:before,group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1; /* IE6&7*/
}

.anuncio input[type="submit"] {
	margin: 0 auto;
}


body {
	font-family: "Enriqueta-Regular", Verdana, sans-serif;
	font-size: 14px;
	background: url("/images/bg.png") repeat;
}

h1 {
	font-family: "ChunkFive", Verdana, sans-serif;
	font-size: 30px;
	margin: 10px;	
	color: #d2691e;
	border-bottom: 1px solid #ecece9;
}

li:hover {
	background: #e9e9e4;
	a { font-size: 16px; }
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

.logo a {
	display: block;
	font-size: 60px;
	color: #d2691e;
}

.logo {
	display: block;
	font-size: 60px;
	-webkit-text-shadow: 3px 3px 6px #ccc;
	-moz-text-shadow: 3px 3px 6px #ccc;
	text-shadow: 3px 3px 6px #ccc;
	border-bottom: 0;
	text-decoration: none;
}

.search-box {
	float: left;
	width: 350px;
	margin: auto 10px;
}

.search input[type="submit"] {
	float: left;
}

.content {
	display: block;
}

.button {
	float: right;
	margin: 0 10px;
	padding: 8px 15px;
	font: bold 14px "Enriqueta-Bold", Verdana, sans-serif;
	text-transform: uppercase;
	line-height: 1;
	color: #787871;
	text-shadow: 1px 1px 1px #fff;
	border: none;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E2E2D9), to(#BDBDB5)); 
	background-image: -moz-linear-gradient(19% 75% 90deg,#BDBDB5, #E2E2D9);
	background-color: #e2e2d9;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	-o-border-radius: 8px; 
	border-radius: 8px;
	cursor: pointer;
}

.button:hover {
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, .4); 
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
	color: #d2691e;
}

.anuncio {
	height: 300px;
	width: 320px;
	margin: 10px;
	border: 2px solid #ccc;
	background: #e9e9e4;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	-o-border-radius: 8px; 
	border-radius: 8px;
}

/***** BLOCKS*****/

#blocks {
	float: left;
	margin-top: 20px;
}

#blocks section {
	float: left;
	width: 500px;
	height: auto;
	display: inline;
	background: #fafaf6;
	background: rgba(250, 250, 246, .3);
	border: 5px solid #e9e9e4;
	margin-right: 30px;
	padding: 5px;
}

#blocks section:last-child {
	width: 350px;
	margin-right: 0;
}

.box h1.script {
	font: normal 24px "Enriqueta-Bold", Georgia, serif;
	color: #717165;
	margin-left: 10px;
	padding: 5px 0 0 0;
	border-bottom: 1px solid #ecece9;
	width: 270px;
	text-align: left;
}

.vaga-desc {
	width: 440px;
	height: 505px;
	border: 2px solid #ccc;
	background: #e9e9e4;
	-webkit-border-radius: 8px; 
	-moz-border-radius: 8px; 
	-o-border-radius: 8px; 
	border-radius: 8px;
}

.figure a {
	text-decoration: none;
	color: #000;
}

#promo {
	font-family: "TK4F", Georgia, serif;
	font-size: 30px;
}

#promo img {
	float: left;
}

#powered {
	font-style: italic;
	font-size: 14px;
	color: #000;
	color: rgba(0, 0, 0, .5);
}

/* FOOTER */

#primary-foot {
	width: 940px;
	float: left;
	margin-top: 20px;
	padding: 10px;
	background: #e2e2d7;
	background: rgba(149, 149, 137, .15);
	border: 1px solid #d2d2c4;
}


.twitbox { list-style: none; padding: 15px; font-family: 'Verdana'; }
.twitbox li { padding: 10px; }
.twit { border-bottom: 1px dashed #ccc; margin-bottom: 5px; bottom: 0px; }
.twit > img { width: 50px; height: 50px; float: left; margin: 0px 8px 8px 0px; }
.profile_link { font-size: 18px; font-weight: bold; }
.twit a { font-weight: normal; }
.content { padding-left: 10px; }
.description { font-family: 'Verdana'; }
.twitbox li a:hover { text-decoration: underline; }
.twhen { float: right; right: 0px; bottom: 0px; color: #999999; font-family: georgia; font-size: 14px; font-style: italic; }
.vaga-box { list-style: none; padding: 15px; font-family: 'Verdana'; }
.vaga-box textarea { width: 800px; height: 400px; border: none; }
.vaga-desc { padding: 15px; }
.vaga-date { float: right; color: #999999; font-family: "Enriqueta-Regular", georgia; font-size: 14px; font-style: italic; }
.mais { text-align: center; padding: 5px; }