<!DOCTYPE html>
<html>
    
    <head>
        <title>WorkFeeds</title>
        <link rel="stylesheet" href="style.css" />
        <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script type="text/javascript" src="scripts/jquery-1.7.2.min.js"></script>
	<script src="scripts/mustache.js"></script>
	<script src="scripts/json2.js"></script> 
    </head>
    
    <body>
        
        <div id="wrapper">
            
            <div id="header">
                <h1>WorkFeeds</h1>
                <br />
                <form method="post">
                    <input class="search" type="text" value="#dev"><input type="submit" value="Filtrar">
		</form>
            </div>
            
            <div id="body">
                
                <div id="left-panel">
                    
                    <div class="pnl-header">
                        <h2>Recentes</h2>
                    </div>
                    
                    <ul class="twitbox">

			<script>
				var data,template,html;
				data2 = {
					announcer_image: "images/samurai01.png",
					announcer_link: "https://twitter.com/#!/samuraidevblog",
					announcer_name: "Samurai Dev",
					announcement: "Instalando Node.js no Fedora a partir do código fonte - SamuraiDev http://migre.me/8TRsw",
					announcement_time: "1 hour ago",
				};

				template = '<li class="twit"><img src="{{announcer_image}}"/> <div class="content"><a href="{{announcer_link}}">{{announcer_name}}</a><div class="description">{{announcement}}</div></div><div class="{{announcement_time}}">1 hour ago</div></li>'

				html = Mustache.to_html(template, data2);
				document.write(html);	

				$.getJSON("http://search.twitter.com/search.json?q=%40twitterapi",
						function(data){
							alert("success");
							document.write(data);
				      		});    			
			</script>
			<!--<li class="twit">
                            <img src="images/samurai01.png" />
                            <div class="content">
                                <a href="https://twitter.com/#!/samuraidevblog">SamuraiDev</a>
                                <div class="description">
                                    Instalando Node.js no Fedora a partir do código fonte - SamuraiDev <a href="http://samuraidev.com/tutoriais/instalando-node-js-no-fedora-a-partir-do-codigo-fonte/">http://migre.me/8TRsw</a>
                                </div>
                            </div>
                            <div class="twhen">1 hour ago</div>
                        </li>-->
                        
                        <!--<li class="twit">
                            <img src="images/samurai01.png" />
                            <div class="content">
                                <a href="https://twitter.com/#!/samuraidevblog">SamuraiDev</a>
                                <div class="description">
                                    Versionamento de código (c/ git) p2  - SamuraiDev <a href="http://migre.me/8TTqG">http://migre.me/8TTqG</a>
                                </div>
                            </div>
                            <div class="twhen">1 hour ago</div>
                        </li>-->
                        
                    </ul>
                    
                </div>
                
                <div id="right-panel">
                    
                    <div class="pnl-header">
                        <h2>Populares</h2>
                    </div>
                    
                    <ul class="twitbox">
                        
                        <li class="twit">
                            <img src="images/samurai02.png" />
                            <div class="content">
                                <a href="https://twitter.com/#!/samuraidevblog">SamuraiDev</a>
                                <div class="description">
                                    Instalando Node.js no Fedora a partir do código fonte - SamuraiDev <a href="http://samuraidev.com/tutoriais/instalando-node-js-no-fedora-a-partir-do-codigo-fonte/">http://migre.me/8TRsw</a>
                                </div>
                            </div>
                            <div class="twhen">1 hour ago</div>
                        </li>
                        
                        <li class="twit">
                            <img src="images/samurai02.png" />
                            <div class="content">
                                <a href="https://twitter.com/#!/samuraidevblog">SamuraiDev</a>
                                <div class="description">
                                    Versionamento de código (c/ git) p2  - SamuraiDev <a href="http://migre.me/8TTqG">http://migre.me/8TTqG</a>
                                </div>
                            </div>
                            <div class="twhen">1 hour ago</div>
                        </li>
                        
                    </ul>
                    
                </div>
                
                <div id="advertisements">
                    
                    <h2>Anuncie sua vaga aqui:</h2>
                    
                    <form method="post">
                        <textarea class="anuncio" style="width:300px; height: 90px; " name="anuncio" ></textarea>
                        <br>
                        <input class="button" type="submit" value="Enviar">
                    </form>
                    
                </div>
                
            </div>                 
            
        </div>
        
	<div id=”twitter_update_list”>TWITS AQUI</div>
	<script type=”text/javascript” src=”http://twitter.com/javascripts/blogger.js”>
	</script>
	<script type=”text/javascript” src=”http://twitter.com/statuses/user_timeline/twitterapi.json?callback=twitterCallback2&count=1″>
	</script>

        <div class="clear"></div>
        
        <div id="footer">
            Desenvolvido por <a href="http://samuraidev.com.br">SamuraiDev</a>
        </div>
        
    </body>
    
</html>
