<!DOCTYPE html>
<html>
    
    <head>
        <title>Tweet Vagas</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
	    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    
    <body>        
        <div id="wrapper">
            <form method="post">
            <div id="header">
                <h1>Tweet Vagas</h1>
                <br />
                

                    <input class="search" name="filtro" type="text" value="{{filtro}}"><input type="submit" value="Filtrar">

            </div>
            
            <div id="body">
                
                <div id="left-panel">
                    
                    <div class="pnl-header">
                        <h2>Vagas</h2>
                    </div>
		      
                    <ul class="twitbox">

                    {% for tweet in tweets %}
					<li class="twit">
                        <img src="{{tweet.profile_img}}"/>
    					<div class="twhen">{{tweet.created_at}}</div>
                        <div class="content">
    						<a href="{{tweet.profile_link}}">{{tweet.from_user_name}}</a>
    						<div class="description">{{tweet.text|safe}}</div>
    					</div>    					
    				</li>                        
    		        
    		        {% endfor %}             
		            </ul>
                    <form method="post">
                        <input type="submit" name="carregar_mais" value="Carregar Mais">
                    </form>

                </div>
               
                <div id="advertisements">
                    
                    <h2>Anuncie sua vaga aqui:</h2>
                    <br>
                        <textarea class="anuncio" style="width:350px; height: 400px; " name="anuncio" ></textarea>
                        <br>
                        <input class="button" name="anunciar" type="submit" value="Enviar">
                </div>                
            </div> 
            </form>    
        </div>      
        <div id="footer">
            Desenvolvido por <a href="http://samuraidev.com.br">SamuraiDev</a>
        </div>
    </body>
    
</html>
