<!DOCTYPE html>
<html>
    <head>
        <title>Tweet Vagas</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    
    <body>        
        <div id="wrap">
            <form method="post">
                <header>
                    <h1 class="logo"><a href="http://tweetvagas.appspot.com">Tweet Vagas</a></h1>
                </header>
                <div id="blocks">                    
                    <section class="content box">
                        
                        <header>
                            <h1>Descrição da Vaga</h1>
                        </header>
                        <article class="content group">
                            <div class="vaga-date">{{vaga.created|datetimeformat}}</div>
                            <textarea class="vaga-desc">{{vaga.description}}</textarea>   
                        </article>
                    </section>
                    <section id="promo" class="box">
                        <figure class="figure group">
                            <a href="http://samuraidev.com" target="_blank">
                            <img src="/images/Samurai_Sword.gif" alt="Samurai Dev"/>   
                            <p class="samurai"><div id="powered">Powered by</div> Samurai Dev </p></a>
                        </figure>
                    </section>    
                </div> 
            </form>
            <footer id="primary-foot">            
                Desenvolvido por <a href="http://samuraidev.com.br" target="_blank">SamuraiDev</a>
            </footer>

        </div> 
    </body>
    
</html>
