<!DOCTYPE html>
<html>
    <head>
        <title>Tweet Vagas</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    
    <body>        
        <div id="wrapper">
            <form method="post">
            <div id="header">
                <h1><a href="http://tweetvagas.appspot.com">Tweet Vagas</a></h1>
                <br />
            </div>
            
            <div id="body">
                
                <div id="vaga-desc-panel">
                    
                    <div class="pnl-header">
                        <h2>Descrição da Vaga</h2>
                    </div>
                    <div class="vaga-box">
                        <div class="vaga-date">{{vaga.created|datetimeformat}}</div>
                        <pre class="vaga-desc">{{vaga.description}}</div>
                        
                    </div>   

                </div>
            </div> 
            </form>    
        </div>      
        <div id="footer">
            Desenvolvido por <a href="http://samuraidev.com.br" target="_blank">SamuraiDev</a>
        </div>
    </body>
    
</html>
