<!DOCTYPE html>
<html>
    
    <head>
        <title>Tweet Vagas</title>
        <link rel="stylesheet" href="stylesheets/style.css" />
	    <link href='http://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css' />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    
    <body>        
        <div id="wrapper">
            <form method="post">
            <div id="header">
                <h1>Tweet Vagas</h1>
                <br />
                

                    <input class="search" name="filtro" type="text" value="{{filtro}}"><input type="submit" value="Filtrar">

            </div>
            
            <div id="body">
                
                <div id="left-panel">
                    
                    <div class="pnl-header">
                        <h2>Descrição da Vaga</h2>
                    </div>
                    <div class="vaga">                        
                        <pre class="post-content">{{vaga.description}}</div>
                        <hr>
                        <div class="vaga_date">{{vaga.created|datetimeformat}}</div>
                    </div>   

                </div>
               <!--
                <div id="advertisements">
                    
                    <h2>Colocar o que aqui?</h2>
                    <br>
                        <textarea class="anuncio" style="width:350px; height: 100px; " name="anuncio">Propaganda?</textarea>
                </div>  
                -->              
            </div> 
            </form>    
        </div>      
        <div id="footer">
            Desenvolvido por <a href="http://samuraidev.com.br">SamuraiDev</a>
        </div>
    </body>
    
</html>
